@CHARSET "UTF-8";

.disabled{
	color:silver!important;
	background-color:#f9f9f9!important;
	cursor: default!important;
}

.no-padding{
	padding: 0px!important;
}

.youi-page{
	position: relative;
	padding: 5px;
    border-radius: 5px;
    background:white;
    min-height:100%;
    float: left;
    width: 100%;
}

.youi-subpage{
	display:none;
}

.modal-header{
	padding:8px 15px;
}

.youi-subpage.youi-dialog{
	overflow: initial;
}

.option-item{
	line-height: 22px;
	min-height: 28px;
	padding: 3px 5px 3px 16px;
}

.option-item:hover{
	background:#E9E9E9;
	cursor:pointer;
}

.panel-stats{
	text-align:center;
	position:relative;
}

.panel-stats .name{
	top: 55px;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    position: absolute;
    border: 1px solid silver;
    border-radius: 10px;
    background: #fff;
    line-height: 30px;
    text-valign:middle;
}

.panel-stats .info{
	width: 99%;
    height: 100px;
    background: #f9f9f9;
    text-align: center;
    line-height: 100px;
    color: #797979;
    margin-top: 15px;
    border-top:1px solid silver;
}

.panel-stats .info .value{
	font-size:50px;
}

.panel-stats .info .uint{

}

.bg-parent{
	background-color:transparent;
}


.youi-panel,.youi-accordion{
	padding:0px;
}

.youi-accordion .panel-collapse{
	overflow-y:auto;
}

a.page-message-alert{
	left:0px;
	right:0px;
	height:2px;
	display:block;
	width:5px;
}

.page-alert-message .page-alert-header{
	color:green;
}


.page-alert-error,.page-alert-message{
	max-width:800px;
}

.youi-loading{
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:9999;
	background:#F5F6FA;
	width:100%;
	padding:10px;
	border-radius:10px;
}

.youi-loading .loading-text{
	position: absolute;
    top: 0px;
    display: inline-block;
    line-height: 66px;
    padding-left:5px;
}

.modal-dialog .modal-body{
	float: left;
    width: 100%;
}

.youi-gridList.showFooter{
	padding-bottom:42px;
	position:relative;
}

.grid-list-pagination .pagination{
	margin:0px;
	pading:0px;
}

.grid-list-pagination{
    display: inline-block;
    width: 100%;
    background: #f0f0f0;
    line-height: 33px;
    padding:6px;
}


/** jquery ui menu **/
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.2;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}

/** jquery ui autocomplete **/
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-autocomplete.ui-menu .ui-menu-item{
	cursor:pointer;
	padding:3px 0px;
}

.ui-autocomplete.ui-menu .ui-menu-item:hover{
	background:#eeefff;
}

.overflow{
	overflow: auto;
}

.youi-shortcut{
    padding: 5px;
    float: left;
    border-radius: 20px;
    margin: 5px;
}

.top-border{
	border-top: 1px solid #ddd;
}

.youi-shadow-border{
	border: 1px solid #cad1e0;
	-webkit-box-shadow: 0 0 4px 0 #b8c3d9;
	-moz-box-shadow: 0 0 4px 0 #b8c3d9;
	-o-box-shadow: 0 0 4px 0 #b8c3d9;
	-ms-box-shadow: 0 0 4px 0 #b8c3d9;
	box-shadow: 0 0 4px 0 #b8c3d9;
}

.editor .input-group-addon{
	padding:3px;
}

.editor .form-control{
	height:28px;
}


.youi-pageSpliter {
	position: relative;
	padding: 0px 10px 0px 0px;
	overflow: hidden;
	border-left: 1px solid #E3E3E3;
	border-radius: 2px 0px 0px 2px;
}

.youi-pageSpliter .page-spliter-handler {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 10px;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	cursor: col-resize;
}

.youi-pageSpliter > .auto-height {
	overflow: auto;
}

.youi-pageSpliter > .youi-toolbar,
.page-spliter-right > .youi-toolbar {
	background: #f5f5f5;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	border-left: none;
	border-right: none;
}

.page-inner-height > .youi-toolbar li a {
	color: black;
}

.page-spliter-right {
	border-right: 1px solid #E3E3E3;
	border-radius: 0px 2px 2px 0px;
	padding: 0px;
	overflow-y: auto;
}

.page-spliter-helper {
	border-left: 1px dotted silver;
	height: 100%;
	z-index: 99;
	width: 5px;
	top: 0px;
	position: absolute;
}

.youi-accordion>.youi-panel{
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0px;
}

/*fix modal backdrop*/
.modal-backdrop.in{
	z-index:1000;
}

/** tab */
.youi-tabs.nav-tabs .tabs-item > a:hover,
.youi-tabs.nav-tabs .tabs-item > a {
	padding: 6px 10px;
	background: none;
	color: black;
	border: none;
	height:100%;
}

.youi-tabs.nav-tabs .tabs-item:hover {
	border-bottom: 2px #79a2b7 solid;
	font-weight: bold;
}

.youi-tabs.nav-tabs .tabs-item.active {
	border-bottom: 2px #337ab7 solid;
	font-weight: bold;
}

.youi-tabs.nav-tabs .tabs-item.active > a{

}

.border-show{
	border:1px solid #ddd;
}
.youi-page [data-dirty="1"] [data-name="save"],
.youi-page [data-dirty="1"] [data-name="save"] a{
	color:blue;
}

.youi-page [data-dirty="1"] [data-name="save"]:before{
	font-family: "FontAwesome";
	content: '*';
	padding-right:2px;
}

.ui-icon.ui-icon-gripsmall-diagonal-se{
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
	position: absolute;
}

.ui-selected .ui-icon.ui-icon-gripsmall-diagonal-se:before{
	font-family:'FontAwesome';
	content: "\f078";

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1)
}